<div class="component-container">
  <h4>Adicione uma nova moeda</h4>
  <form [formGroup]="formCoin">
    <div class="form-group">
      <select formControlName="coin" class="form-control" id="newCoin">
        <option value="">Selecione a moeda desejada</option>
        <option *ngFor="let coin of coinAvailable" [value]="coin.name" [innerHtml]="coin.label">
        </option>
      </select>
      <button class="btn btn-primary" (click)="handleNewCoin()" [disabled]="formCoin.invalid">Selecionar</button>
    </div>
  </form>
</div>

<div class="overlay-app" (click)="removeFormNewCoin()"></div>
