<div class="card">
  <div class="card-body">
    <h5 class="card-title" *ngIf="coin">{{ getCoinaName(coin?.name) }}</h5>
    <ul>
      <li>
        <small> Última atualização: {{ dateFormated(coin?.time) }} </small>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="compareCoin(coin)">
      <i class="material-icons">
        compare_arrows
      </i>
      <span>
        Comparar Moeda
      </span>
    </button>
    <button class="btn btn-danger" (click)="remove(coin)">
      <i class="material-icons">
        delete
      </i>
    </button>
  </div>
</div>
