<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8">
      <app-coin-list
        (informCompareCoin)="handleCompareCoin($event)"
        (removeCoin)="handleRemoveCoin($event)"
        [coinList]="coinList"
      ></app-coin-list>
    </div>

    <div class="col-12 col-md">
      <app-coins-comparator
        [coinsComparator]="coinsComparator"
        (removeCoinFromComparator)="handleRemoveCoin($event, 'comparator')"
      ></app-coins-comparator>
    </div>
  </div>
</div>
<app-button-fav (click)="openFormNewCoinComponent()"></app-button-fav>
